body {
  margin: 0;
  background-color: rgb(241, 255, 255);
}

.main-game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius {
  display: grid;
  grid-template-areas:
    "green red"
    "yellow blue";
  grid-gap: 10px;
  border: 1px solid black;
  background-color: black;
  border-radius: 100%;
  width: 700px;
  height: 700px;
  position: relative;
}

.blue {
  opacity: 0.6;
  grid-area: blue;
  background: rgb(11, 0, 228);
  background: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
  border-bottom-right-radius: 100%;
}

.red {
  opacity: 0.6;
  grid-area: red;
  background: rgb(255, 0, 13);
  background: linear-gradient(
    225deg,
    rgb(97, 0, 0) 0%,
    rgb(155, 6, 6) 52%,
    rgb(199, 0, 0) 100%
  );
  border-top-right-radius: 100%;
}

.yellow {
  opacity: 0.6;
  grid-area: yellow;
  background: rgb(255, 230, 0);
  background: linear-gradient(
    45deg,
    rgb(173, 157, 6) 0%,
    rgb(183, 185, 16) 52%,
    rgb(218, 231, 38) 100%
  );

  border-bottom-left-radius: 100%;
}

.green {
  opacity: 0.6;
  grid-area: green;
  background: rgb(0, 141, 31);
  background: linear-gradient(
    135deg,
    rgb(1, 77, 14) 0%,
    rgb(7, 107, 30) 52%,
    rgba(9, 121, 35, 1) 100%
  );
  border-top-left-radius: 100%;
}

.selected {
  opacity: 1;
}

.center-area {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: none;
}

.center {
  height: 300px;
  width: 300px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center img {
  width: 80%;
}
